#divblock{
		width: 200px;
		height: 200px;
		margin: 0 auto;
	}
	#divblock input{
		font-style: "Microsoft Yahei";
		width: 100%;
		background:#F1CCE4;
		padding: 6px;
		font-size:18px;
		font-weight: bold;
		border:8px solid #72C6EF;
		border-radius: 6px;
	}
	#divblock h1{
		font-size: 28px;
		color: #E4B17B;
	}
	#Draw{
		margin: 0 auto;
		margin-top: 40px;
		width:82%;
		height:82%;
		font-weight: bold;
		background: #F97474;
		font-size: 50px;
		padding: 10px 10px 10px 50px;
	}
	#Draw:hover{
		border:2px solid #222;
		background: red;
	}